* {
    box-sizing: border-box;
}

p {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #484848;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(12, auto);
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 100%;
}

.header, .footer {
    grid-column: 1 / 13;
    background-color: #171717;
    padding: 20px;
}

.header {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.footer {
    grid-row: 12 / 13;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.left, .middle1, .middle2, .right1, .right2 {
    color: white;
    padding: 20px;
    font-size: 20px;
}

.left {
    grid-column: 1 / 3;
    grid-row: 2 / 12;
    background-color: #282828;
}

.middle1 {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
    background-color: #715fa6;
}

.middle2 {
    grid-column: 3 / 11;
    grid-row: 3 / 12;
    background-color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right1 {
    grid-column: 11 / 13;
    grid-row: 2 / 11;
    background-color: #282828;
}

.right2 {
    grid-column: 11 / 13;
    grid-row: 11 / 12;
    background-color: #715fa6;
}

.x, .y {
    background-color: #484848;
    color: #9b82ff;
    margin: 30px;
    padding: 5px;
    font-size: 45px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav ul {
    list-style: none;
    padding-right: 60px;
}

.nav__link {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    font-size: 30px;
}

.nav__link:hover {
    color: #9b82ff;
}

.lavender {
    border-radius: 30px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .header, .footer {
        grid-column: 1 / -1;
        width: 100%;
    }

    p {
        margin: 0;
    }

    .left, .right1, .right2, .middle1, .middle2 {
        grid-column: 1 / -1;
        grid-row: auto;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }

    .lavender {
        width: 100%;
        margin-top: 10px;
    }

    .x, .y {
        margin: 20px auto;
        font-size: 28px;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 0;
        gap: 20px;
        list-style: none;
    }

    .nav__link {
        font-size: 15px;
        margin: 10px 0;
    }
}








